<section role="main" class="main-section">

  <% @lists.in_groups_of(2) do |lists| %>
      <div class="shopping-list-container">
        <% lists.each do |list| %>
            <% if list %>
                <ul class="shopping-list">
                  <li>
                    <h1><%= list.name %></h1>
                  </li>
                  <% list.items.each do |item| %>
                      <li class="item-name-price-container">
                        <span class="item-name"><%= "#{item.name}" %></span>
                        <span class="item-price">
                          <% if item.list.name == "Publix" %>
                            <%= format_money(item.price_publix) %>
                        <% elsif item.list.name == "Winn Dixie" %>
                            <%= format_money(item.price_winn_dixie) %>
                        <% end %>
                        </span>
                      </li>
                  <% end %>
                  <li>Total</li>
                  <li>
                    <%= link_to 'Show', list %> |
                    <%= link_to 'Edit', edit_list_path(list) %> |
                    <%= link_to 'Destroy', list, method: :delete, data: {confirm: 'Are you sure?'} %>
                  </li>
                </ul>
            <% end %>
        <% end %>
      </div>
  <% end %>
</section>


<%= link_to '+', new_list_path %>

