<section role="main" class="main-section">

  <% @lists.in_groups_of(2) do |lists| %>
      <div class="shopping-list-container">
        <% lists.each do |list| %>
            <% if list %>
                <ul class="shopping-list">
                  <li>
                    <h1><%= list.name %></h1>
                  </li>
                  <% current_user.list_items.where(:list => list).each do |item| %>
                      <li class="item-name-price-container">
                        <span class="item-name"><%= "#{item.name}" %></span>
                        <span class="item-price">
                          <%= format_money(item.price(list)) %>
                        </span>
                        <span class="item-remove">
                          <%= form_for(item, :method => 'delete', :confirm => 'Sure?') do |f| %>
                            <button>&times;</button>
                          <% end %>
                        </span>   
                      </li>
                  <% end %>
                  <li>Total: <%= format_money current_user.list_items.where(:list => list).sum(:subtotal) %></li>
                </ul>
            <% end %>
        <% end %>
        
      </div>
     
  <% end %>
</section>
%= link_to '+', new_list_path %>
