<%= form_for (@item) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Item Name" %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, placeholder: "Description"  %>
  </div>

  <div class="field">
    <%= f.label :price_publix, 'Publix Price' %><br>
    <%= f.text_field :price_publix, placeholder: "Publix Price" %>
  </div>

  <div class="field">
    <%= f.label :price_winn_dixie, 'Winn Dixie Price' %><br>
    <%= f.text_field :price_winn_dixie, placeholder: "Winn Dixie Price" %>
  </div>

  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category, placeholder: "Category" %>
  </div>

  <div class="field">
    <%= f.label :picture %><br>
    <%= f.file_field :picture %>
  </div>

  <div class="actions">
    <%= f.button :Update %>
  </div>
<% end %>
