<p id="notice"><%= notice %></p>
<div class="Items">
  <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td>Publix Price:<%= format_money(item.price_publix) %></td>
        <br>
        <td>Winn Dixie Price:<%= format_money(item.price_winn_dixie) %></td>
        <td><%= link_to image_tag("#{item.picture.thumb}"), item %></td>
        <%= form_for (item) do |f| %>
            <div class="field">
              <%= f.label :list_id %>
              <%= f.collection_select(:list_id, List.all, :id, :name) %>
            </div>
            <div class="actions">
              <%= f.button :submit %>
            </div>
        <% end %>
  <% end %>
  </tr>
</div>

