<div class="item-container">
  <div class="items-show-container">
    <table>
      <thead>
      <tr>
        <th>Item</th>
        <th><%= image_tag('publix-logo.png', width: "150") %></th>
        <th><%= image_tag('winn-dixie-logo.svg.png', width: "150") %></th>
        <th>Image</th>
        <th>Edit</th>
      </tr>
      </thead>
      <tbody>
      <% @items.each do |item| %>
        <tr class="<%= row_class_for_item(item) %>">
          <td><%= item.name %></td>
          <% List.all.each do |list| %>
          <td>
            <%= form_for(list.list_items.new) do |f| %>
              <%= f.hidden_field :list_id %>
              <%= f.hidden_field :item_id, :value => item.id %>
              <%= f.number_field :quantity, :value => 1 %>
              <button class="<%= button_class_for_item(list, item) %>">
                <%= format_money(item.price(list)) %>
              </button>
            <% end %>
          </td>
          <% end %>
          <td><%= link_to image_tag("#{item.picture.thumb}"), item %></td>
          <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_item_path(item) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>



