<h1><%= @item.name %></h1>



<p>
<strong>Publix Price:</strong>
<%= format_money(@item.price_publix) %>
</p>

<p>
<strong>Winn-Dixie Price:</strong>
<%= format_money(@item.price_winn_dixie) %>
</p>

<p>
<strong>Picture:</strong>
<%= link_to image_tag("#{@item.picture}"), @item %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Destroy', @item, method: :delete, data: {confirm: 'Are you sure?'} %> |
<%= link_to 'Back', items_path %> 

