<div class="show-item-page-container">
  <h1 class="show-page-heading"><%= @item.name %></h1>

  <span class="show-page-publix-price">
    Publix Price:
    <%= format_money(@item.price_publix) %>
  </span>

  <span class="show-page-winn-dixie-price">
    Winn-Dixie Price:
    <%= format_money(@item.price_winn_dixie) %>
  </span>

  <div class="show-page-item-image">
    <%= link_to image_tag("#{@item.picture}"), @item %>
  </div>

  <%= link_to 'Edit', edit_item_path(@item) %> |
  <%= link_to 'Back', items_path %>

</div>