<nav role="navigation">
  <ul class="nav">
    <li><%= link_to 'About', page_path('about') %></li>
    <% if user_signed_in? %>
        <li><%= link_to 'Sign Out', signout_path %></li>
    <% else %>
        <li><%= link_to 'Sign In', signin_path, class: "sign-in-button" %></li>
    <% end %>
    <% if user_signed_in? %>
        <li><%= link_to 'My Lists', lists_path, class: "lists-button" %></li>
        <li><%= link_to 'Users', users_path %></li>
    <% end %>
  </ul>
</nav>